.vp_main {
    background-color: #000;
    position: relative;
    overflow: hidden;
}

.vp_video-maincontainer {
    height: 100vh;
}

#vp_controls-maincontainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15vh;
    max-height: 15vh;
    background-color: transparent;
    transform: translateY(0%);
    transition: transform 0.2s ease-in-out;
    /* background-color: transparent;
    opacity: 100;
    transition: opacity 0.2s ease-in-out; */
}

.vp_progress-container {
    position: relative;
}

.vp_controls-container {
    position: relative;
}

.vp_controls-control-container {
    padding: 0.5rem;
}

.vp_control {
    color: #FFF;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.15s ease;
}

.vp_control:hover {
    transform: scale(1.15);
}